HeaderFilterRegex: '^[^_]*\.h$'
Checks: >-
  -*,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  cppcoreguidelines-pro-bounds-constant-array-index,
  performance-*,
  -performance-unnecessary-value-param,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-redundant-expression,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-lambda-function-name,
  -bugprone-implicit-widening-of-multiplication-result,
  google-*,
  -google-build-using-namespace,
  -google-runtime-references,
  -google-readability-todo,
  -google-readability-*,
# WarningsAsErrors: '*'
