HeaderFilterRegex: '^[^_]*\.h$'
Checks: >-
  -*,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-std-print,
  cppcoreguidelines-pro-bounds-constant-array-index,
  cppcoreguidelines-avoid-non-const-global-variables,
  performance-*,
  -performance-enum-size,
  -performance-unnecessary-value-param,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-redundant-expression,
  -misc-include-cleaner,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-lambda-function-name,
  -bugprone-implicit-widening-of-multiplication-result,
  google-*,
  -google-build-using-namespace,
  -google-runtime-references,
  readability-*,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity,
  -readability-make-member-function-const,
  -readability-convert-member-functions-to-static,
  -readability-named-parameter,
  -readability-identifier-length
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 35 # TODO: bring that number down to 25
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k_
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k_
  - key: readability-identifier-naming.GlobalConstantIgnoredRegexp
    value: '^Disassembly_[^_]*'
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.MethodIgnoredRegexp
    value: 'Disassembly_[^_]*|load'
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.VariableIgnoredRegexp
    value: '^u_[^_]*'
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: _
ExtraArgs:
  - -DLOCATOR_IMPLEMENTATIONS
# WarningsAsErrors: '*'
...
