# Intellij directories
.idea/
cmake-build-*/

## make
CMakeFiles
*/CMakeFiles
CMakeCache.txt
CMakeUserPresets.json
cmake_install.cmake
Makefile
makefile
build*
prebuilt
GameData
/bin

## windows build process
.vs
.vscode
/deps
/MSVC*

lib

# VSCode cache files
/.vscode/ipch/

# git commit
/src/GitSHA1.cpp

# vim swp files
*.swp

# imgui
imgui.ini

# logging
openblack.log
