.idea

## make
CMakeFiles
*/CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
makefile
build*
prebuilt
GameData
/bin

## windows build process
.vs
/deps
/MSVC*

lib

# VSCode cache files
/.vscode/ipch/

# git commit
/src/GitSHA1.cpp
