sudo: required
language: bash
services:
  - docker

# define the build matrix
env:
  global:
    - RUN_TESTS: false

matrix:
  include:
    # Linux {

    #   Ubuntu 19.04 disco
    - os: linux
      env: >
        BUILD_FLAVOR=ubuntu
        BUILD_RELEASE=disco
        BUILD_ARCH=amd64
        BUILD_PACKAGES="g++"
        TOOLCHAIN=gcc-cxx17
    - os: linux
      env: >
        BUILD_FLAVOR=ubuntu
        BUILD_RELEASE=disco
        BUILD_ARCH=amd64
        TOOLCHAIN=clang-cxx17
        BUILD_PACKAGES="clang"
    # } // end Linux

    # Windows build with mingw-w64 on Ubuntu 19.04
    - os: linux
      env: >
        BUILD_FLAVOR=ubuntu
        BUILD_RELEASE=disco
        BUILD_ARCH=amd64
        TOOLCHAIN=linux-mingw-w64-cxx17
        BUILD_PACKAGES="mingw-w64 wine-stable"

before_install:
  # use the Dockerfile.<distro>.template file for building the image with sed magic
  - |
    sed \
    -e "s/@BUILD_FLAVOR@/${BUILD_FLAVOR}/g" \
    -e "s/@BUILD_RELEASE@/${BUILD_RELEASE}/g" \
    -e "s/@BUILD_ARCH@/${BUILD_ARCH}/g" \
    -e "s/@BUILD_PACKAGES@/${BUILD_PACKAGES}/g" \
    ci/Dockerfile.$BUILD_FLAVOR.template | tee ci/Dockerfile.$BUILD_FLAVOR.$BUILD_RELEASE.$BUILD_ARCH
  - docker build -f ci/Dockerfile.$BUILD_FLAVOR.$BUILD_RELEASE.$BUILD_ARCH -t openblack-devel_${TOOLCHAIN} .

script: |
  # run the respective .travis.<distro>.sh script
  docker run \
  -e BUILD_FLAVOR="$BUILD_FLAVOR" \
  -e BUILD_RELEASE="$BUILD_RELEASE" \
  -e BUILD_ARCH="$BUILD_ARCH" \
  -e TOOLCHAIN="$TOOLCHAIN" \
  -e RUN_TESTS="$RUN_TESTS" \
  -it openblack-devel_${TOOLCHAIN} ci/travis.$BUILD_FLAVOR.sh

