sudo: required
language: bash
services:
  - docker

# define the build matrix
env:
  global:
    - RUN_TESTS: false
    - HUNTER_ENABLED: "NO"
    - OPENBLACK_USE_SYSTEM_DEPS: "NO"

cache:
  directories:
    - $HOME/.hunter

matrix:
  include:
    # Linux {

    #   Ubuntu 18.04 bionic
    - name: "bionic: gcc"
      os: linux
      env: >
        BUILD_FLAVOR=ubuntu
        TOOLCHAIN=gcc-cxx17
        HUNTER_ENABLED=YES
        OPENBLACK_USE_SYSTEM_DEPS=YES
        DOCKER_TAG=ubuntu-lts-gcc

    #   Ubuntu 19.04 disco
    - name: "disco: gcc"
      os: linux
      env: >
        BUILD_FLAVOR=ubuntu
        DOCKER_TAG=ubuntu-rolling-gcc
        TOOLCHAIN=gcc-cxx17
    - name: "disco: clang"
      os: linux
      env: >
        BUILD_FLAVOR=ubuntu
        DOCKER_TAG=ubuntu-rolling-clang
        TOOLCHAIN=clang-cxx17

    # Fedora rawhide
    - name: "fedora rawhide"
      os: linux
      env: >
        BUILD_FLAVOR=fedora
        TOOLCHAIN=gcc-cxx17
        DOCKER_TAG=fedora-rawhide-gcc
    # } // end Linux

    # Windows build with mingw-w64 on fedora 31
    - name: "fedora 31: mingw-w64"
      os: linux
      env: >
        BUILD_FLAVOR=fedora
        TOOLCHAIN=linux-mingw-w64-cxx17
        HUNTER_ENABLED=YES
        OPENBLACK_USE_SYSTEM_DEPS=YES
        DOCKER_TAG=fedora-mingw

before_install:
  - docker pull openblack/openblack:$DOCKER_TAG

script:
 - |
  # run the respective .travis.<distro>.sh script
  docker run \
  -e BUILD_FLAVOR="$BUILD_FLAVOR" \
  -e TOOLCHAIN="$TOOLCHAIN" \
  -e RUN_TESTS="$RUN_TESTS" \
  -e HUNTER_ENABLED="$HUNTER_ENABLED" \
  -e OPENBLACK_USE_SYSTEM_DEPS="$OPENBLACK_USE_SYSTEM_DEPS" \
  -v ${HOME}:/root \
  -v ${PWD}:/usr/src/openblack \
  -w /usr/src/openblack \
  -it openblack/openblack:$DOCKER_TAG ci/travis.$BUILD_FLAVOR.sh

