name: Cross Compile CI
on:
  pull_request:
  push:
    tags:
    branches:
      - 'master'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # This is the matrix. They form permutations.
        os: [ubuntu-latest]
        config: [debug, release]
        preset: [android-armeabi-v7a-vcpkg, android-arm64-v8a-vcpkg, android-x86-vcpkg, android-x86_64-vcpkg]
        triplet: [""]
        # These are additional individual jobs. There are no permutations of these.
        include:
          # Testing x86-windows bit in debug only
          - os: windows-latest
            config: debug
            preset: ninja-multi-vcpkg
            triplet: x86-windows

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Linux dependencies
        run: |
          sudo apt update -y
          sudo apt install -y libgl1-mesa-dev libglu1-mesa-dev
        if: matrix.os == 'ubuntu-latest'

      - name: Set GCC 10
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 100 --slave /usr/bin/g++ g++ /usr/bin/g++-10 --slave /usr/bin/gcov gcov /usr/bin/gcov-10
        if: matrix.os == 'ubuntu-latest' && matrix.cc == ''      

      # Setup nasm, needed for ffmpeg stuff
      - uses: ilammy/setup-nasm@v1

      # Setup the build machine with the most recent versions of CMake and Ninja. Both are cached if not already: on subsequent runs both will be quickly restored from GitHub cache service.
      - uses: lukka/get-cmake@latest

      - name: Restore artifacts, or setup vcpkg for building artifacts
        uses: lukka/run-vcpkg@v10
        id: runvcpkg
        with:
          vcpkgJsonGlob: 'vcpkg.json'

      - name: Run CMake+vcpkg+Ninja+CTest to generate/build.
        uses: lukka/run-cmake@v10
        id: runcmake
        with:
          configurePreset: '${{ matrix.preset }}'
          buildPreset: '${{ matrix.preset }}-${{ matrix.config }}'
        env:
          ANDROID_NDK_HOME: '/usr/local/lib/android/sdk/ndk/23.1.7779620'

      - uses: actions/upload-artifact@v3
        with:
          name: openblack-${{ matrix.triplet || matrix.preset }}-${{github.sha}}
          path: cmake-build-presets/${{ matrix.preset }}/bin
          if-no-files-found: error

    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}
