name: Cross Compile CI
on:
  pull_request_target:
  push:
    tags:
      - '*'
    branches:
      - 'master'
      - 'ci-tests/**'  # Branch namespace can be used to test changes to test before going to master
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # This is the matrix. They form permutations.
        os: [ubuntu-22.04]
        preset: [android-armeabi-v7a-vcpkg, android-arm64-v8a-vcpkg, android-x86-vcpkg, android-x86_64-vcpkg]
        triplet: [""]
        include:
          - os: windows-latest
            preset: ninja-multi-vcpkg
            triplet: arm64-windows
          - os: macos-latest
            preset: ninja-multi-vcpkg
            triplet: arm64-osx
          - os: ubuntu-22.04
            preset: ninja-multi-vcpkg
            triplet: arm64-linux
          # TODO(#519) x86 disabled due to failing to find stdlib headers on workflows
          # - os: windows-latest
          #   preset: ninja-multi-vcpkg
          #   triplet: x86-windows

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          submodules: recursive

      - name: Add base repo to git config
        run: git remote add upstream ${{ github.event.pull_request.base.repo.html_url }}
        if: startsWith(github.event_name, 'pull_request')

      - name: Install Linux dependencies
        run: |
          sudo apt update -y
          sudo apt install -y g++-aarch64-linux-gnu
        if: startsWith(matrix.os, 'ubuntu')

      - name: Install EMSDK
        run: |
          git clone https://github.com/emscripten-core/emsdk ${EMSDK}
          pushd ${EMSDK}
          ./emsdk install latest
          ./emsdk activate latest
        if: matrix.preset == 'emscripten-vcpkg'

      # Setup the build machine with the most recent versions of CMake and Ninja. Both are cached if not already: on subsequent runs both will be quickly restored from GitHub cache service.
      - uses: lukka/get-cmake@latest

      - name: Restore from cache and setup vcpkg executable and data files.
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: 'vcpkg.json'

      - name: Run CMake+vcpkg to build packages.
        uses: lukka/run-cmake@main
        with:
          configurePreset: '${{ matrix.preset }}'
          configurePresetAdditionalArgs: "['-DOPENBLACK_WARNINGS_AS_ERRORS=ON' ${{ matrix.triplet && format(', \"-DVCPKG_TARGET_TRIPLET={0}\"', matrix.triplet) }}]"

      - name: Run CMake+Ninja to build the code (Debug).
        uses: lukka/run-cmake@main
        with:
          configurePreset: '${{ matrix.preset }}'
          configurePresetAdditionalArgs: "['-DOPENBLACK_WARNINGS_AS_ERRORS=ON']"
          buildPreset: '${{ matrix.preset }}-debug'

      - name: Run CMake+vcpkg to build the code (Release).
        uses: lukka/run-cmake@main
        with:
          configurePreset: '${{ matrix.preset }}'
          configurePresetAdditionalArgs: "['-DOPENBLACK_WARNINGS_AS_ERRORS=ON']"
          buildPreset: '${{ matrix.preset }}-release'

      - uses: actions/upload-artifact@v3
        with:
          name: openblack-${{ matrix.triplet || matrix.preset }}-${{github.sha}}
          path: cmake-build-presets/${{ matrix.preset }}/bin
          if-no-files-found: error

    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}
      VCPKG_ROOT: ${{github.workspace}}/vcpkg
      EMSDK: '/tmp/emsdk'
      ANDROID_NDK_HOME: '/usr/local/lib/android/sdk/ndk/23.2.8568313'
