name: System Deps CI
on:
  pull_request:
  push:
    tags:
      - '*'
    branches:
      - 'master'
jobs:
  arch-packaging-system-deps:
    name: Arch Linux AUR Packaging
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel
      options: --privileged
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup

    steps:
      - name: Adding build user and configure system
        run: |
          sed -E -i "s|#? ?MAKEFLAGS=.*|MAKEFLAGS=-j$(nproc)|" /etc/makepkg.conf
          useradd builduser -p ""
          printf 'builduser ALL=(ALL) ALL\n' >> /etc/sudoers
          pacman -Syu --noconfirm --noprogressbar --needed git
          git config --global --add safe.directory /__w/openblack/openblack

      - name: Clone the openblack repo
        uses: actions/checkout@v3
        with:
          path: src

      - name: Clone the openblack AUR files
        run: |
          git clone https://aur.archlinux.org/openblack-git.git ${GITHUB_WORKSPACE}/openblack-git
          chown -R builduser ${GITHUB_WORKSPACE}/openblack-git

      - name: Install non-AUR dependencies
        shell: bash
        run: |
          source ${GITHUB_WORKSPACE}/openblack-git/PKGBUILD
          export makedepends=${makedepends[@]}
          export depends=${depends[@]}
          export makedepends=${makedepends/bgfx-cmake-git/}
          export makedepends=${makedepends/dr_libs-git/}
          export depends=${depends/bgfx/}
          export depends=${depends/entt/}
          export depends=${depends/imgui/}
          pacman -S --noconfirm --noprogressbar --needed mesa libx11 ${makedepends} ${depends}

      - name: Cache AUR Packages
        id: cache-packages
        uses: actions/cache@v2
        with:
          path: |
            entt/entt*.pkg.tar.*
            bgfx-cmake-git/bgfx-cmake-git*.pkg.tar.*
            imgui/imgui*.pkg.tar.*
            dr_libs-git/dr_libs-git*.pkg.tar.*
          key: ${{ runner.os }}-cmake

      - name: Build ${{ env.PKG }} from the AUR
        if: steps.cache-packages.outputs.cache-hit != 'true'
        run: |
          git clone https://aur.archlinux.org/${{ env.PKG }}.git ${GITHUB_WORKSPACE}/${{ env.PKG }}
          chown -R builduser ${GITHUB_WORKSPACE}/${{ env.PKG }}
          cd ${GITHUB_WORKSPACE}/${{ env.PKG }}
          sudo -u builduser makepkg
        env:
          PKG: entt

      - name: Build ${{ env.PKG }} from the AUR
        if: steps.cache-packages.outputs.cache-hit != 'true'
        run: |
          git clone https://aur.archlinux.org/${{ env.PKG }}.git ${GITHUB_WORKSPACE}/${{ env.PKG }}
          chown -R builduser ${GITHUB_WORKSPACE}/${{ env.PKG }}
          cd ${GITHUB_WORKSPACE}/${{ env.PKG }}
          sudo -u builduser makepkg
        env:
          PKG: bgfx-cmake-git

      - name: Build ${{ env.PKG }} from the AUR
        if: steps.cache-packages.outputs.cache-hit != 'true'
        run: |
          git clone https://aur.archlinux.org/${{ env.PKG }}.git ${GITHUB_WORKSPACE}/${{ env.PKG }}
          chown -R builduser ${GITHUB_WORKSPACE}/${{ env.PKG }}
          cd ${GITHUB_WORKSPACE}/${{ env.PKG }}
          sudo -u builduser makepkg
        env:
          PKG: imgui

      - name: Build ${{ env.PKG }} from the AUR
        if: steps.cache-packages.outputs.cache-hit != 'true'
        run: |
          git clone https://aur.archlinux.org/${{ env.PKG }}.git ${GITHUB_WORKSPACE}/${{ env.PKG }}
          chown -R builduser ${GITHUB_WORKSPACE}/${{ env.PKG }}
          cd ${GITHUB_WORKSPACE}/${{ env.PKG }}
          sudo -u builduser makepkg
        env:
          PKG: dr_libs-git

      - name: Install AUR dependencies
        run: pacman -U --noconfirm --noprogressbar ${GITHUB_WORKSPACE}/*/*.pkg.tar.*

      - name: Building and Packaging openblack from the AUR
        run: |
          cd ${GITHUB_WORKSPACE}/openblack-git
          sed "s,source=.*,source=('openblack::git+file://${GITHUB_WORKSPACE}/src')," -i PKGBUILD
          sudo -u builduser makepkg

      - uses: actions/upload-artifact@v3
        with:
          name: openblack-arch-linux-pkg-${{github.sha}}
          path: openblack-git/openblack-git*.pkg.tar.*
          if-no-files-found: error
