name: VCPKG CI
on:
  pull_request:
  push:
    tags:
    branches:
      - 'master'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # This is the matrix. They form permutations.
        os: [ubuntu-latest, macos-latest, windows-latest, windows-2019]
        config: [debug, release]
        cc: [""]
        cxx: [""]
        # These are additional individual jobs. There are no permutations of these.
        include:
          # Testing clang
          - os: ubuntu-latest
            config: debug
            cc: clang
            cxx: clang++

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Linux dependencies
        run: |
          sudo apt update -y
          sudo apt install -y libgl1-mesa-dev libglu1-mesa-dev
        if: matrix.os == 'ubuntu-latest'

      - name: Set GCC 10
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 100 --slave /usr/bin/g++ g++ /usr/bin/g++-10 --slave /usr/bin/gcov gcov /usr/bin/gcov-10
        if: matrix.os == 'ubuntu-latest' && matrix.cc == ''

      # Setup nasm, needed for ffmpeg stuff
      - uses: ilammy/setup-nasm@v1

      # Setup the build machine with the most recent versions of CMake and Ninja. Both are cached if not already: on subsequent runs both will be quickly restored from GitHub cache service.
      - uses: lukka/get-cmake@latest

      - name: Restore artifacts, or setup vcpkg for building artifacts
        uses: lukka/run-vcpkg@v10
        id: runvcpkg
        with:
          vcpkgJsonGlob: 'vcpkg.json'
            # doNotCache: true

      - name: Run CMake+vcpkg+Ninja+CTest to generate/build/test.
        uses: lukka/run-cmake@v10
        id: runcmake
        with:
          configurePreset: 'ninja-multi-vcpkg'
          buildPreset: 'ninja-multi-vcpkg-${{ matrix.config }}'
          testPreset: 'ninja-multi-vcpkg-${{ matrix.config }}'

      - name: Upload compiled openblack and tools
        uses: actions/upload-artifact@v3
        if: matrix.cc == ''
        with:
          name: openblack-${{ matrix.os }}-${{github.sha}}
          path: cmake-build-presets/ninja-multi-vcpkg/bin
          if-no-files-found: error

      - name: Upload generated mock data
        uses: actions/upload-artifact@v3
        if: matrix.cc == ''
        with:
          name: openblack-mock-data
          path: cmake-build-presets/ninja-multi-vcpkg/test/mock
          if-no-files-found: error

    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cxx }}

  run:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # This is the matrix. They form permutations.
        os: [ ubuntu-latest, macos-latest, windows-latest, windows-2019 ]
    steps:
      - name: Download compiled openblack and tools
        uses: actions/download-artifact@v3
        id: download-binary
        with:
          name: openblack-${{ matrix.os }}-${{github.sha}}
      - name: Download generated mock data
        uses: actions/download-artifact@v3
        id: download-mock
        with:
          name: openblack-mock-data
      - name: Enable execute permissions on binary
        run: chmod +x ${{steps.download-binary.outputs.download-path}}/*/*
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      - run: ${{steps.download-binary.outputs.download-path}}/Debug/openblack -g ${{steps.download-mock.outputs.download-path}} -b Noop --num-frames-to-simulate 10 --log-file stdout --log-level all=debug
      - run: ${{steps.download-binary.outputs.download-path}}/Release/openblack -g ${{steps.download-mock.outputs.download-path}} -b Noop --num-frames-to-simulate 10 --log-file stdout --log-level all=debug
