name: Formatting Check
on:
  pull_request:
  push:
    tags:
    branches:
      - 'master'
jobs:
  formatting-check:
    name: clang-format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: DoozyX/clang-format-lint-action@v0.13
        with:
          source: 'src apps components test'
          clangFormatVersion: 12
          inplace: False

  # Run only if a PR and clang-format has failed
  formatting-action-suggester:
    name: clang-format fix suggester
    runs-on: ubuntu-latest
    needs: formatting-check
    if: always() && github.event_name == 'pull_request' && needs.formatting-check.result == 'failure'
    steps:
      - uses: actions/checkout@v2
      - uses: DoozyX/clang-format-lint-action@v0.13
        with:
          source: 'src apps components test'
          clangFormatVersion: 12
          inplace: True
      - run: |
          git diff > clang-format.patch
      - uses: actions/upload-artifact@v2
        with:
          name: formatting-fix-${{github.sha}}
          path: clang-format.patch
      - uses: reviewdog/action-suggester@v1
        with:
          tool_name: clang-format

  linelint:
    name: linelint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: fernandrone/linelint@master

  linelint-action-suggester:
    name: linelint fix suggester
    runs-on: ubuntu-latest
    needs: linelint
    if: always() && github.event_name == 'pull_request' && needs.linelint.result == 'failure'
    steps:
      - uses: actions/checkout@v2
      - run: |
          printf 'autofix: true\nrules:\n  end-of-file:\n    enable: true\n' > .linelint.yml
      - uses: fernandrone/linelint@master
      - run: |
          git diff > linelint.patch
      - uses: actions/upload-artifact@v2
        with:
          name: formatting-fix-${{github.sha}}
          path: linelint.patch
      - uses: reviewdog/action-suggester@v1
        with:
          tool_name: linelint

  copyright-check:
    name: Copyright Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check License Lines
      uses: kt3k/license_checker@v1.0.6
